{% extends "portal/template.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col mt-4">
            <div class="jumbotron">
                <h1 class="display-4">Payment Received</h1>
                <p class="lead">Thank you</p>
                <hr class="my-4">
                <p>
                    Please give us a few moments to process your request
                </p>
                <a class="btn btn-primary btn-lg" href="{{ url_for('dash.dash_tracking') }}" role="button">Go back
                    home</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}